.textChecker{
    width: 99%;
    height: 100%;
    background-color: black;
    display: flex;
    
}
.centerId{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.redBox{
    position: relative;
    height: 100%;
    font-size: 3vw;
   
    
    
}
.rightAnswer{
    color: green;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
}
.rightAnswer:hover {
    color: rgb(0, 187, 255);
    text-shadow: 1px 5px 5px black;
    z-index: 3;
}
.wrongAnswer{
    position: absolute;
    bottom: 0vw;
    left: 0;
    overflow: hidden;
    text-decoration: none;
}
